version = 0.1

[default.global.parameters]
stack_name = "le-botaniste-api"

[default.deploy.parameters]
region = "eu-west-3"
capabilities = "CAPABILITY_IAM"
confirm_changeset = false
resolve_s3 = true
parameter_overrides = "GroqApiKey=gsk_REPLACE_ME AllowedOrigins=https://restaurant.oryel.dev"